/* CSS สำหรับ Navbar */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  