aside {
    background-color: #555353;
    color: #fff;
    width: 250px;
    padding: 20px;
    height: 150vh;
  
  }
  
  aside ul {
    list-style-type: none;
    padding: 0;
  }
  
  aside li {
    margin-bottom: 10px;
  }
  
  aside a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  
  aside a:hover {
    text-decoration: underline;
  }
  
  .sidebar-item {
    border: 1px solid black;
    padding: 8px;
  }
  