
  
  /* CSS สำหรับ Navbar */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

/* CSS สำหรับ Sidebar */
aside {
  background-color: #555;
  color: #fff;
  width: 250px;
  padding: 20px;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside li {
  margin-bottom: 10px;
}

aside a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

aside a:hover {
  text-decoration: underline;
}

.sidebar-item {
  border: 1px solid black;
  padding: 8px;
}
.table-container {
  display: grid;
  grid-template-columns: 1fr; /* ตั้งค่าคอลัมน์เดียวให้มีขนาดอัตโนมัติ */
  gap: 16px; /* ระยะห่างระหว่างตารางและข้อความ */
}

table {
  width: 100%; /* ตั้งค่าขนาดตารางให้เต็มขอบเต็มแถว */
  border-collapse: collapse; /* ลบขอบตารางในคอลัมน์ที่มีช่องว่าง */
}

th,
td {
  padding: 8px; /* ตั้งค่าขอบเขตของข้อความในเซลล์ */
  border: 1px solid #ccc; /* ตั้งค่ากรอบให้กับเซลล์ */
  text-align: left; /* จัดชิดซ้ายในเซลล์ */
}
